<br>
<br>
<br>
<mat-form-field  appearance="outline" style="margin-left:300px;" >
  <mat-label>Search</mat-label>
  <input matInput type="text" [(ngModel)]="Search" />
</mat-form-field>
<br>
<br>
 <div class="row justify-content-center">
  <div class="col-8">
    <div class="container" >
       <div *ngFor="let checkbox of boxes; let i = index">
        <mat-checkbox  (click)="filterCheck(checkbox)" >{{checkbox}}</mat-checkbox>
        <br>
       </div>
     </div>
    <br>
<div  class="example-container mx-1 col-12" (load)="get()">
<table class="table ">
  <thead>
    <tr class="bg-primary" style="color: white;" >
      <th scope="col">cars</th>
      <th scope="col">class</th>
      <th scope="col">pictures</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of table|searchpipe : Search ; let i=index  "  routerLink="../display/{{row._id}}"   class="bg-info" style="color: white;">
      <td>{{row.cars}}</td>
      <td>{{row.class}}</td>

      <img src="{{row.img}}" style="width: 20%;height: 20%;" >
      <td>
        <div class="example-button-row">
        <button type="button" mat-raised-button  class="btn btn-warning btn-lg" data-toggle="modal" data-target="#exampleModal" (click)='getcar(i)'  >EDIT</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" style="color: black;">update cars</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="example-container mx-4 col-12">

          <form [formGroup] = "updatecars">
            <mat-form-field appearance="outline">
              <mat-label>cars</mat-label>
              <input style="color: black;" matInput type="text" formControlName="cars"/>
            </mat-form-field>
          </form>
          <input type="file" name="image" (change)="fileProgress($event)" >
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"data-dismiss="modal" (click)="updt()">Save changes</button>
      </div>
    </div>
  </div>
</div>
        <button mat-raised-button class="btn btn-danger btn-lg" (click)=" remove(i)" >DELETE</button>

      </div></td>
    </tr>
  </tbody>
</table>
</div>
