
<div class="card" style="width: 18rem;">
    <img src="{{card?.data.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">{{card?.data.class}}</p>
      <p class="card-text">{{card?.data.cars}}</p>
    </div>
    <div>
      <form [formGroup] = "commentaire">
        <mat-form-field appearance="outline">
          <mat-label>commentaire</mat-label>
          <input matInput type="text" formControlName="comment"/>
          <button (click)="commentair()">post</button>
        </mat-form-field>
        </form>
        <div>
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Comment</h6>
                <div class="media text-muted pt-3" *ngFor="let message of listComment.reverse()">
                  <mat-icon>account_box</mat-icon>
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">{{message.user}}</strong>
                    {{message.comment}}
                  </p>
                  <span class="time_date"> {{message.date | date}}</span>
                </div>
              </div>
        </div>
    </div>
  </div>
